*.env
.nexus/
.nexus_secrets*
vault.env
node_modules/
__pycache__/
*.bin
*.pt
*.sqlite
.npm/
.cache/
.tor/

# BAUL LOCAL - NUNCA SUBIR
99_RESCATE_LOCAL/
*.log
*.tmp
*.bak
*.zip
*.tar.gz
*.sqlite
*.db
